Language: Cpp
IndentWidth: 4
ObjCBlockIndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 0
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak
IndentCaseLabels: true
BreakBeforeBraces: Stroustrup
BasedOnStyle:  WebKit
AlwaysBreakAfterDefinitionReturnType: All
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Middle
Standard:        Auto
TabWidth:        4
UseTab:          Never
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
BreakBeforeBraces: Stroustrup
IncludeBlocks: Regroup
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Right
IndentPPDirectives: AfterHash
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakInheritanceList: AfterColon
SpaceBeforeAssignmentOperators: true
BraceWrapping:
    AfterNamespace: false
CompactNamespaces: false
NamespaceIndentation: All
