#ifndef mcu_gpio_h
#define mcu_gpio_h

#include "../gpio.h"
#include "mcu_sfr.h"
#include <stdint.h>

namespace GPIO {

{% for reg in groupGPIO(registers) %}

    auto const {{ "Port{}".format(reg.letter) }} = GPIO::Port {
        {{ "SFR::PORT{}::address".format(reg.letter) }},
        {{ "SFR::PIN{}::address".format(reg.letter) }},
        {{ "SFR::DDR{}::address".format(reg.letter) }},
    };

    {% for pin_no in range(0,8) %}
    auto const {{ "P{}{}".format(reg.letter, pin_no) }} = GPIO::Pin {
        {{ "Port{}".format(reg.letter) }},
        {{ "GPIO::Pin{}".format(pin_no) }},
    };
    {% endfor %}

{% endfor %}

}

#endif
