#pragma once

#include <stdint.h>

namespace SFR {

{% for reg in registers %}
    // {{ reg.description }}
    struct {{ reg.name }} {
        static const uint16_t address = {{ "{0:#0{padding}x}".format(reg.address, padding=4) }};
        {% if reg.bit_fields %}
        enum bits : uint8_t {
        {% for field in reg.bit_fields %}
            {{ field.name }} = {{ field.bit }},    // {{ field.description }}
        {% endfor %}
        };
        {% endif %}
    };

{% endfor %}

}
